.containerMainAbout{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh; 
}

.containerSecondAbout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.containerInfo{
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerText{
    margin: 10px;
    width: 95%;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.containerImage{
    margin: 50px;
}

.containerHistory{
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#middle-Image{
    cursor: pointer;
    width: 240px;
}

#middle-Image:hover{
    cursor: pointer;
    width: 245px;
}

@media screen and (max-width: 1500px) {
    .containerInfo{
        width: 500px;
    }
    .containerHistory{
        width: 400px;
    }

}

@media screen and (max-width: 1300px) {
    .containerSecondAbout{
        flex-direction: row;
        width: 100%;
    }
    .containerInfo{
        width: 500px;
    }
    .containerText{
        font-size: 15px;
    }
    .containerHistory{
        width: 500px;
    }
    #middle-Image{
        width: 0px;
    }
}

@media screen and (max-width: 1120px) {
    .containerInfo{
        width: 400px;
    }
    .containerText{
        font-size: 13px;
    }
    .containerHistory{
        width: 400px;
    }
    .containerImage{
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .containerInfo{
        width: 300px;
        height: 280px;
    }
    .containerSecondAbout{
        justify-content: space-between;
        width: 80%;
    }
    .containerText{
        font-size: 10px;
    }
    .containerHistory{
        width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .containerSecondAbout{
        flex-direction: column;
        justify-content: center;
        height: 50px;
        width: 80%;
    }
    .containerInfo{
        width: 600px;
        height: 250px;
    }
    .containerImage{
        margin: 0;
    }
    .containerText{
        font-size: 10px;
    }
    .containerHistory{
        width: 600px;
    }
}