.containerMovies{
    background-color: #2B83D3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
    min-width: 100vh;
}

.containerMainMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
    text-align: center;
}

.listMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.containerSearch{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    background-color: #397dbd;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#search{
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25px;
    padding-left: 5px;
    width: 270px;
    height: 45px;
    color: rgb(255, 255, 255);
}

#search:focus{
    border: 1px solid rgb(255,100,20);
}

@media screen and (max-width: 1281px) {
    .containerMovies{
        width: 157.5vh;
    }
}

@media screen and (max-width: 800px) {
    .containerMovies{
        width: 90vh;
    }
}

/* @media screen and (max-width: 992px) {
    .containerMovies{
        width: 180.5vh;
    }
} */